# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Node Modules
node_modules/

# Build Files
dist/
build/

# Vite
.vite/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db